<!--
    Bootstrap Version: 4
-->
{% load static %}

<script src="{% static 'js/jquery.js' %}"></script>

<script src="{% static 'js/popper.min.js' %}"></script>

{% comment %} <script src="{% static 'js/bootstrap.min.js' %}"></script> {% endcomment %}

<script src="{% static 'js/jquery-ui.min.js' %}"></script>

<script src="{% static 'js/materialize.min.js' %}"></script>

<script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>

