{% load static %}
<div class="col-sm-4 col-md-3 sidebar d-none d-sm-none d-md-none d-lg-block">
  <div class="list-group">
    <a href="{% url 'request_leave' %}" class="list-group-item bg-white text-dark">
        Request Leave
    </a>
    <a href="{% url 'loadshifts' %}" class="list-group-item bg-white text-dark">
        Load Shifts
    </a>
    <a href="#" class="list-group-item active text-white" style="background-color: #481380; border-color: #481380;">
       IA
    </a>
  </div>        
</div>