{% extends '../base.html' %} 
{% block content %}
    <ul class="collection">
        {% for leave_load in leave_loads_pairs %}
<!--             <p>Name : {{ leave_load.leave.leave_taken_by }}</p>
            <p>Start Date : {{ leave_load.leave.leave_start_date }}</p>
            <p>Start Time : {{ leave_load.leave.leave_start_time }}</p>
            <p>End Date : {{ leave_load.leave.leave_end_date }}</p>
            <p>End Time : {{ leave_load.leave.leave_end_time }}</p>
            <p>Note : {{ leave_load.leave.leave_note }}</p>
            <p>Lecture : {{ leave_load.to_faculty.username }}</p>
            <p>Lec Day : {{ leave_load. }} </p> -->
            <p>{{ leave_load }}</p>
            {% for load in leave_load %}
                <p>{{ load }}</p>
            {% endfor %}
        {% endfor %}
    </ul>
{% endblock  %} 

