<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta charset="UTF-8" />
  <title>KJSCE - CMS | Content Management System</title><!-- Fonts -->
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include 'includes/stylesheets.html' %}
    {% include 'includes/scripts.html' %}
</head>
<body>
  <header class="header-global">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">

		  <a class="navbar-brand" href="#" style="font-size: 20px;">
		  	{% if user.is_authenticated %}
		  		Welcome, {{ user.username }}
			{% else %}
				KJSCE - CMS
			{% endif %}	
		  </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
          	<span class="navbar-toggler-icon"></span>
          </button>

          <div class="navbar-collapse collapse" id="navbar-default">
	          <div class="navbar-collapse-header">
	            <div class="row">
	              <div class="col-6 collapse-brand">
	                <a href="./index.html">
	                  KJSCE - CMS
	                </a>
	              </div>
	              <div class="col-6 collapse-close">
	                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
	                  <span></span>
	                  <span></span>
	                </button>
	              </div>
	            </div>
	          </div>

			  {% if user.is_authenticated %}

				<ul class="navbar-nav align-items-lg-center ml-lg-auto  d-lg-none d-xl-none">
					<li class="nav-item">
		                <a class="nav-link" href="{% url 'request_leave' %}">Request Leave <span class="sr-only">(current)</span></a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="{% url 'loadshifts' %}">Load Shifts <span class="sr-only">(current)</span></a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="{% url 'IA' %}">IA <span class="sr-only">(current)</span></a>
		            </li>

		            <li class="nav-item">
		                <a class="nav-link" href="{% url 'logout' %}">Logout <span class="sr-only">(current)</span></a>
		            </li>
				</ul>

				<ul class="navbar-nav align-items-lg-center ml-lg-auto">
	              <li class="nav-item d-none d-lg-block ml-lg-4">
	                <a href="{% url 'logout' %}"  class="btn btn-icon" style="background-color: #c10000;">
	                  <span class="nav-link-inner--text text-white">Logout</span>
	                </a>
	              </li>
	            </ul>

			  {% endif %}

	      </div>
        </div>
      </div>
    </nav>
  </header>

  {% block logincontent %}
  {% endblock %}
	
  {% if user.is_authenticated %}
	  {% block content %}
	  {% endblock %}
  {% endif %}
  

  {% comment %}	
  {% if user.is_authenticated %}
  	<div class="row mt-3 ml-2">
  		{% include '../includes/sidebar.html' %}
  		<div class="col-sm-8 col-md-7">
		  {% block content %}
		  {% endblock %}
		</div>
	</div>
  {% endif %}
  {% endcomment %}

</body>
</html>
