<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta charset="UTF-8" />
  <title>KJSCE - CMS | Content Management System</title><!-- Fonts -->
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include 'includes/stylesheets.html' %}
    {% include 'includes/scripts.html' %}
</head>
<body>
  <header class="header-global">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
          {% if user.is_authenticated %}
            <a class="navbar-brand" href="#" style="font-size: 20px;">Welcome, {{ user.username }}</a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          {% else %}
        <a class="navbar-brand" href="#" style="font-size: 20px;">KJSCE - CMS</a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          {% endif %}
        <div class="collapse navbar-collapse" id="navbar-default">
          <div class="navbar-collapse-header">
            <div class="row">
              <div class="col-12 collapse-close">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation"><span></span> <span></span></button>
              </div>
            </div>
          </div>
          
          {% if user.is_authenticated %}
            <ul class="navbar-nav align-items-lg-center ml-lg-auto">
              <li class="nav-item d-none d-lg-block ml-lg-4">
                <a href="{% url 'logout' %}"  class="btn btn-icon" style="background-color: #c10000;">
                  <span class="nav-link-inner--text text-white">Logout</span>
                </a>
              </li>
            </ul>
          {% endif %}
        </div>
      </div>
    </nav>
  </header>

  {% block content %}
  {% endblock %}
</body>
</html>
