<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta charset="UTF-8" />
  <title>KJSCE - CMS | Content Management System</title><!-- Fonts -->
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include '../includes/stylesheets.html' %}
    {% include '../includes/scripts.html' %}
</head>
<body>
    <div class="wrapper">
        {% include '../includes/sidebar.html' %}
        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <button type="button" id="sidebarCollapse" class="btn btn-dark">
                    <i class="fas fa-bars"></i>
                    <span></span>
                </button>
                <span class="navbar-brand pl-5" style="font-size: 20px;">
                        Hello, Guest
                </span>


                <div class="navbar-collapse collapse" id="navbar-default">
                    <div class="navbar-collapse-header">
                        <div class="row">
                            <div class="col-6 collapse-brand">
                                <a href="./index.html">
                                KJSCE - CMS
                                </a>
                            </div>
                            <div class="col-6 collapse-close">
                                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
                                <span></span>
                                <span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div>
                <main class="mx-auto">
                    <input id="page_loaded" value="guest_reserve" style="display: none;">
                    
                    <div class="row m-3">
                        <div class="col-sm-12 col-md-12 text-center">
                                {% if success %}
                                <div class="badge badge-success badge-lg col-md-6" style="font-size: 1.5rem;">Your request has been submitted.</div>
                                <div class="badge badge-warning col-md-6" style="font-size: 1rem;">Check your email for correspondence.</div>
                                {% else %}
                                <div class="container border mb-5">
                                <form action="{% url 'reserve' %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <p class="d-block font-weight-bold mb-3 mt-4 ml-2">Event Details</p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <small class="d-block font-weight-bold mb-1 ml-2">Room</small>
                                            <div class="form-group">
                                                <select class="form-control form-control-alternative" name="room_id" required>
                                                    <option value="-1" disabled selected>Select Room</option>
                                                    {% for room in rooms %}
                                                        <option value="{{ room.id }}">{{ room }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <small class="d-block font-weight-bold mb-1 ml-2">Institute</small>
                                            <div class="form-group">
                                                <input class="form-control form-control-alternative" placeholder="eg. KJSCE or SIMSR" type="text" name="institute" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <small class="d-block font-weight-bold mb-1 ml-2">Department</small>
                                            <div class="form-group">
                                                <input class="form-control form-control-alternative" placeholder="eg. Mechanical or Finance" type="text" name="department">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <small class="d-block font-weight-bold mb-1 ml-2">Purpose</small>
                                            <div class="form-group">
                                                <textarea class="form-control form-control-alternative" rows="3" name="purpose" placeholder="Name of Event/Workshop/Seminar"></textarea>
                                            </div>
                                        </div>
                                    </div>


                                    <p class="d-block font-weight-bold mb-3 mt-3 ml-2">Date & Duration</p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <small class="d-block font-weight-bold mb-1 ml-2">Date</small>
                                            <div class="form-group">
                                                <div class="input-group input-group-alternative">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control datepicker text-dark" data-provide="datepicker"
                                                    data-date-format="mm/dd/yyyy" autocomplete="off" name="start_date" data-date-start-date="0d"
                                                    id="start_date">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <small class="d-block font-weight-bold mb-1 ml-2">Upto</small>
                                            <div class="form-group">
                                                <div class="input-group input-group-alternative">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control datepicker text-dark" data-provide="datepicker"
                                                    data-date-format="mm/dd/yyyy" autocomplete="off" name="end_date" data-date-start-date="0d" id="end_date" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                    <div class="col-md-6">
                                            <small class="d-block font-weight-bold mb-1 ml-2">Start Time</small>
                                            <div class="form-group">
                                                <div class="input-group input-group-alternative">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control text-dark" name="start_time" disabled="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <small class="d-block font-weight-bold mb-1 ml-2">End Time</small>
                                            <div class="form-group">
                                                <div class="input-group input-group-alternative">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                                    </div>
                                                    <input type="text" class="form-control text-dark" name="end_time" disabled="true">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <p class="d-block font-weight-bold mb-3 mt-4 ml-2">Contact Details</p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <small class="d-block font-weight-bold mb-1 ml-2">Contact Person</small>
                                            <div class="form-group">
                                                <input class="form-control form-control-alternative" placeholder="eg. John Doe" type="text" name="contact_person" required>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-6">
                                            <small class="d-block font-weight-bold mb-1 ml-2">Email</small>
                                            <div class="form-group">
                                                <input class="form-control form-control-alternative" placeholder="" type="email" name="email" required>
                                            </div>
                                        </div>
                                    </div>
                                    

                                    <div class="row mt-3 mb-3">
                                        <div class="col-md-12 d-flex justify-content-center align-items">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                                {% endif %}
                        </div>

                    </div>
                </main>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $disabled_timeslots = null;
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });

            $('[name=start_date]').change(function(){
                $('[name=start_time]').timepicker('remove')
                $('[name=start_time]').val('');
                $('[name=end_time]').timepicker('remove')   
                $('[name=end_time]').val(''); 
                $('[name=end_date]').val('');
                $('[name=end_date]').prop("disabled",false);
            })

            $('[name=end_date]').change(function(){  
                $('[name=start_time]').timepicker('remove')
                $('[name=start_time]').val('');
                $('[name=end_time]').timepicker('remove')
                $('[name=end_time]').val('');
                start_date = $('[name=start_date]').val()
                end_date = $(this).val()
                $.ajaxSetup({
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                });
                $.ajax({
                    type: 'POST',
                    url: '{% url "apitimeslots" %}',
                    data: { 
                        'start_date': start_date,
                        'end_date' : end_date, 
                    },
                    success: function(msg){
                        $('[name=start_time]').prop("disabled",false)
                        $('[name=start_time]').timepicker({
                            'timeFormat': 'H:i',
                            'minTime': '09:00',
                            'maxTime': '17:00',
                            'disableTimeRanges' : msg.timeslots,
                        })
                        // console.log(msg.timeslots)
                        $disabled_timeslots = msg.timeslots;
                    }
                });
            })

            $('[name=start_time]').change(function(){
                $('[name=end_time]').val('');
                $('[name=end_time]').timepicker('remove');
                var selected_start_time = $(this).val();
                var a = selected_start_time.split(':');
                $seconds = (+a[0]) * 60 * 60 + (+a[1]) * 60 ; 
                // console.log($seconds);
                $max_allowed = "17:30";
                // console.log($selected_start_time)
                $($disabled_timeslots).each(function(){
                        $(this).each(function(){
                            if($max_allowed=="17:30"){
                        // console.log("!!"+$(this))
                                // console.log(parseInt($(this)[0]))
                                if($seconds< parseInt($(this)[0])){
                                    $max_allowed = parseInt($(this)[0]);
                                }
                            }
                        })
                })
                // console.log("###"+$max_allowed)
                $('[name=end_time]').prop("disabled",false)
                $('[name=end_time]').timepicker({
                    'timeFormat': 'H:i',
                    'minTime': $('[name=start_time]').val(),
                    'maxTime': $max_allowed,
                    'disableTimeRanges' : $disabled_timeslots,
                })
            })

            // End Date always after start date
            $('#start_date').on('changeDate', function() {
                let start_date = $('#start_date').datepicker('getUTCDate');
                $('#end_date').datepicker('setStartDate', start_date);
            });
        });
    </script>

</body>
</html>
