
{% extends '../base.html' %}
{% load static %}

{% block logincontent %}
<link rel="stylesheet" href="{% static 'css/login/login.css' %}">
<div class="signupform">
    <div class="container">
      <!-- main content -->
      <div class="agile_info">
        <div class="w3l_form">
          <div class="left_grid_info">
            <h1>Manage Your CMS-Somaiya Account</h1>
            <p>It is a tool to simplify the day-to-day activities of faculty members, assistant and HOD</p>
            <img src="{% static 'images/logo.jpg' %}" alt="" />
          </div>
        </div>
        <div class="w3_info">
          <h2>Welcome to CMS Somaiya</h2>
          <p>Enter your details to login.</p>
          <form method="POST" action="{% url 'login' %}">
              {% csrf_token %}
              <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div><input class="form-control text-dark font-weight-bold pl-3" type="text" placeholder="Username" name="username" />
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div><input class="form-control text-dark font-weight-bold pl-3" placeholder="Password" type="password" name="password" />
                  </div>
                </div>
            				
              <button class="btn btn-success btn-block" name="btn_login" type="submit">Login</button>
              <div class="text-center">
                  <a href="{% url 'guest_index' %}" class="btn btn-primary btn-block my-4 text-white">Login as Guest</a>
                </div>
              
                <div class="text-center mb-3">
                    <small class="forgot_password"><a href="{% url 'password_reset' %}" class="text-underline text-dark">Forgot Password?</a></small>
                   </div>
                
              {% if form.non_field_errors %}
              <div class='mb-3 form-errors text-center'>
              {% for error in form.non_field_errors %}
                <p class="text-danger text-uppercase font-weight-bold">{{ error }}</p>
              {% endfor %}
              </div>
            {% endif %}
          </form>
        </div>
      </div>
      <!-- //main content -->
    </div>
    <!-- footer -->
    
    <!-- footer -->
  </div>  
{% endblock %}