{% load static %}

{% block content %}
  {% include './../includes/scripts.html' %}
  <link rel="stylesheet" href="{% static 'css/forgot-password/password_reset.css' %}">
  
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <h3>Forgot password</h3>
        <form method="post" class="login100-form">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							Submit
						</button>
					</div>
        </form>  
      </div>
    </div>
  </div>
  
  <script>
   $("input[type='email']").addClass("input");
  </script>
{% endblock %}