{% extends '../base.html' %}
{% load static %}

{% block nav-content %}

	<li class="nav-item" role="presentation">
		<a class="nav-link pr-3" href="{% url 'faculty_index' %}" style="color: white;">Home</a>
	</li>

{% endblock %}

{% block content %}
	<main>
		<input id="page_loaded" value="faculty_home" style="display: none;">

		<div class="row mt-3 ml-2">
					<div class="col-sm-12 col-md-4">
					{% for ia in ias %}
						<div class="card shadow mb-3">
							<div class="card-header">
								<div class="float-left"><strong>IA</strong></div>
								<div class="float-right"><strong>{{ ia.ia_date }}</strong></div>
							</div>
							<div class="card-body">
								<h5 class="float-left">
									{{ia.ia_year}} - {{ ia }} 
								</h5>
							<div class="badge badge-info badge-lg float-right" style="font-size : 90%;">{{ ia.ia_start_time|time:'H:i' }} - {{ ia.ia_end_time|time:'H:i' }}</div>
							</div>			
						</div>
					{% endfor %}
					</div>	
					<div class="col-sm-12 col-md-4">
					{% for lec in guest_lecs %}
						<div class="card shadow mb-3">
							<div class="card-header bg-secondary">
								<div class="float-left"><strong>Expert Lecture</strong></div>
								<div class="float-right"><strong>{{ lec.lec_date }}</strong></div>
							</div>
							<div class="card-body">
								<h5 class="float-left">
									{{ lec.lec_year }}
								</h5>
								<div class="badge badge-info badge-lg float-right" style="font-size : 90%;">{{ lec.lec_time }}</div>
								<div class="badge badge-warning badge-lg float-right" style="font-size : 90%;">{{ lec.lec_in }}</div>			
							</div>
							<div class="badge badge-success badge-lg" style="font-size : 90%;">
								{{ lec.lec_subject }}
							</div>
						</div>
					{% endfor %}	
					{% for lec in makeup_lecs %}
						<div class="card shadow mb-3">
							<div class="card-header bg-secondary">
								<div class="float-left"><strong>Makeup</strong></div>
								<div class="float-right"><strong>{{ lec.lec_date }}</strong></div>
							</div>
							<div class="card-body">
								<h5 class="float-left">
									{{ lec.year}} - {{ lec.division }} 
								</h5>
								<div class="badge badge-info badge-lg float-right" style="font-size : 90%;">{{ lec.lec_time }}</div>
								<div class="badge badge-warning badge-lg float-right" style="font-size : 90%;">{{ lec.lec_in }}</div>		
							</div>
							<div class="badge badge-success badge-lg" style="font-size : 90%;">
								{{ lec.lec_subject }} - {{ lec.lec_taken_by }}
							</div>
						</div>
					{% endfor %}	
					</div>	
			                        
		</div>
	</main>

	
{% endblock %}