{% extends '../base.html' %}
{% load static %}

{% block nav-content %}
<li class="nav-item" role="presentation">
    <a class="nav-link pr-3" href="{% url 'IA' %}" style="color: white;">IA</a>
</li>
{% endblock %}

{% block content %}
<main class="mx-auto">
    <input id="page_loaded" value="ia" style="display: none;">
    <div class="row m-3">
        <div class="col-sm-12 col-md-12">
           
                {% if ia %}
                <div class="d-flex justify-content-center mb-3">
                    <div class="card col-md-8 border shadow" style="padding: 0;">

                        <div class="card-header">
                            <h4 class="card-title text-center text-dark">IA Details</h4>
                            <div class="row">
                                <div class="col-md m-3 p-3">
                                    <p class="card-text"><b class="font-weight-bold text-dark">Year: </b>{{ ia.ia_year }}</p>
                                    <p class="card-text"><b class="font-weight-bold text-dark">Subject: </b>{{ ia.ia_subject }}</p>
                                </div>
                                <div class="col-md m-3 p-3">
                                    <p class="card-text"><b class="font-weight-bold text-dark">Date: </b>{{ ia.ia_date|date }}</p>
                                    <p class="card-text"><b class="font-weight-bold text-dark">Time: </b>{{ ia.ia_start_time }} to {{ ia.ia_end_time }}</p>
                                </div>
                            </div>
                        </div>
                <form method="POST" action="{% url 'ia_arrangement' %}">
                    {% csrf_token %}
                    <input type="hidden" name="ia_id" value="{{ ia.id }}">
                    <div class="card-body text-center">
                        {% if batches %}
                            <h5 class="card-title">Sitting Arrangement</h5>
                            {% for batch in batches %}
                            <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <small class="d-block font-weight-bold mb-1 ml-2">{{ batch.batch }}</small>
                                <select class="form-control form-control-alternative" name="{{ batch }}-room" required>
                                    <option class="text-dark" value="" selected disabled>Please Select</option>
                                    {% for room in rooms %}
                                        <option class="text-dark" value="{{ room.id }}">{{ room }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <small class="d-block font-weight-bold mb-1 ml-2">Supervisor</small>
                                <select class="form-control form-control-alternative" name="{{ batch }}-supervisor" required>
                                    <option class="text-dark" value="" selected disabled>Please Select</option>
                                    {% for supervisor in supervisors %}
                                        <option class="text-dark" value="{{ supervisor.id }}">{{ supervisor.username }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                            {% endfor %}
                    </div>
                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-info" id="option_submit">Apply</button>
                    </div>
                </form>
            </div>
        </div>
                        {% endif %}

                {% elif success %}
                    <div class="d-flex justify-content-center">
                            <div class="badge badge-success badge-lg col-md-10" style="font-size: 1.5rem;">IA has been scheduled successfully.</div>
                    </div>
                {% elif errors %}
                    <div class="alert alert-danger" role="alert">
                        <h4>{{ errors }}</h4>
                    </div>
                {% else %}
                 <div class="container border rounded">
                <form action="{% url 'postia' %}" method="POST">
                    {% csrf_token %}
                    <div class="col-md-12 d-flex justify-content-center align-items">
                        <p class="d-block font-weight-bold mb-3 mt-4 ml-2 text-dark">Create IA</p>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <small class="d-block font-weight-bold mb-1 ml-2">Year</small>
                                <select class="form-control form-control-alternative" name="year" required>
                                    <option class="text-dark" value="" selected disabled>Please Select</option>
                                    {% for year in years %}
                                        <option class="text-dark" value="{{ year.id }}">{{ year }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <small class="d-block font-weight-bold mb-1 ml-2">Subject</small>
                                <select class="form-control form-control-alternative" name="subject" required>
                                    <option class="text-dark" value="" selected disabled>Please Select</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <small class="d-block font-weight-bold mb-1 ml-2">Date</small>
                            <div class="form-group">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                    </div>
                                    <input type="text" class="form-control datepicker text-dark" data-provide="datepicker"
                                    data-date-format="mm/dd/yyyy" autocomplete="off" name="ia_date" data-date-start-date="0d" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="d-block font-weight-bold mb-3 mt-3 ml-2">Time Slot</p>

                   <div class="row">
                       <div class="col-md-6">
                        <small class="d-block font-weight-bold mb-1 ml-2">Start Time</small>
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-clock" aria-hidden="true"></i></span>
                                </div>
                                <input type="time" class="form-control text-dark" name="start_time" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <small class="d-block font-weight-bold mb-1 ml-2">End Time</small>
                        <div class="form-group">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-clock" aria-hidden="true"></i></span>
                                </div>
                                <input type="time" class="form-control text-dark" name="end_time" required>
                            </div>
                        </div>
                    </div>
                   </div>


                    <div class="row mb-3">
                        <div class="col-md-12 d-flex justify-content-center align-items">
                            <button type="submit" class="btn btn-primary">Post</button>
                        </div>
                    </div>

                </form>
                </div>
                {% endif %}
            
        </div>

    </div>
    <script>
        $(document).ready(function () {
            $('[name=year]').change(function () {
                $('[name=subject]').empty();
                var html = "<option value='' disabled selected>Select Subject</option>";
                {% for subject in subjects %}
                    if ("{{ subject.year.id }}" == $(this).val()) {
                        html += "<option value={{ subject.id }}>{{ subject }}</option>"
                    }
                {% endfor %}
                $('[name=subject]').append(html);
            })
            $('[name=ia_date]').change(function () {
                year = $('[name=year]').val()
                d = new Date($(this).val())
                // Timezone offset error correction
                d.setDate(d.getDate() + 1);
                date = d.toISOString().split('T')[0];
                url_string = "{% url 'get_timeslots' 'year' 'sample' %}".replace('sample', date)
                    .replace('year', year);
                console.log(url_string)
                $.ajax({
                    url: url_string,
                    success: function (text) {
                        // $('#resp').empty();
                        // $('#resp').append(text);
                        $('[name = timeslot]').empty();
                        // ts_json = text.split('$$')[0]
                        // rooms_json = text.split('$$')[1]
                        ts_result = $.parseJSON(text);
                        console.log(ts_result);
                        var html = "<option value=-1 disabled selected>Select Timeslot</option>";
                        for (i = 0; i < ts_result.length; i++) {
                            slot_start = ts_result[i].fields.start_time.split(':')[0] +
                                ":" + ts_result[i].fields
                                .start_time.split(':')[1];
                            slot_end = ts_result[i].fields.end_time.split(':')[0] + ":" +
                                ts_result[i].fields.end_time
                                .split(':')[1];
                            html += "<option value=" + ts_result[i].pk + ">" + slot_start +
                                " - " + slot_end +
                                "</option>"
                        }
                        $('[name = timeslot]').append(html);
                    }
                });
            })
            $('[name = timeslot]').change(function () {
                $('[name = locations]').empty();
                d = new Date($('[name=ia_date]').val());
                d.setDate(d.getDate() + 1);
                date = d.toISOString().split('T')[0];
                timeslot = $(this).val();
                url_string = "{% url 'available_rooms' 'date' 'timeslot' %}".replace('timeslot',
                    timeslot).replace(
                    'date', date);
                console.log(url_string)
                $.ajax({
                    url: url_string,
                    success: function (text) {
                        rooms_json = $.parseJSON(text);
                        // console.log(rooms_json);
                        var html = "<option value=-1 disabled selected>Select Room</option>";
                        for (i = 0; i < rooms_json.length; i++) {
                            html += "<option value=" + rooms_json[i].pk + ">" + rooms_json[
                                i].fields.room + "</option>"
                        }
                        $('[name = locations]').append(html);


                    }
                })
            });
        });
    </script>
</main>

{% endblock %}