{% extends '../base.html' %}
{% load static %}

{% block nav-content %}

	<li class="nav-item" role="presentation">
		<a class="nav-link pr-3" href="{% url 'request_leave' %}" style="color: white;">Leave</a>
	</li>

{% endblock %}

{% block content %}
	<main>
		<input id="page_loaded" value="request_leave" style="display: none;">

		<div class="row mt-3 ml-2">
			<div class="col-sm-12 col-md-12">
				<div class="container border mb-5">
					<form method="POST" action="{% url 'submit_leave' %}">
						{% csrf_token %}
						<div class="text-center">
							<p class="d-block font-weight-bold mb-3 mt-4 ml-2">Request Leave</p>
						</div>

						<div class="row">
							<div class="col-md-6">
								<small class="d-block font-weight-bold mb-1 ml-2">Start Date</small>
								<div class="form-group">
									<div class="input-group input-group-alternative">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
										</div>
										<input type="text" class="form-control datepicker text-dark" data-provide="datepicker"
										data-date-format="mm/dd/yyyy" autocomplete="off" name="leave_start_date" data-date-start-date="0d">
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<small class="d-block font-weight-bold mb-1 ml-2">End Date</small>
								<div class="form-group">
									<div class="input-group input-group-alternative">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
										</div>
										<input type="text" class="form-control datepicker text-dark" data-provide="datepicker"
										data-date-format="mm/dd/yyyy" autocomplete="off" name="leave_end_date" data-date-start-date="0d">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<small class="d-block font-weight-bold mb-1 ml-2">Duration</small>
									<select class="form-control form-control-alternative" name="duration" required>
										<option value="-1" disabled selected>Duration</option>
										<option value="full">Full Day</option>
										<option value="first_half">First half</option>
										<option value="second_half">Second half</option>
									</select>
								</div>
							</div>
						</div>

						<div class="row mb-3">
							<div class="col-md-12 d-flex justify-content-center align-items">
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</main>

	{% if leave_id %}
		<div class="d-flex justify-content-center mb-3">
			<div class="card col-md-6" style="padding: 0;">

				<div class="card-header">
					<h4 class="card-title text-center">Leave Details</h4>
					<div class="row">
						<div class="col-md m-3 p-3">
							<p class="card-text"><b class="font-weight-bold">Start Date: </b>{{ start_date }}</p>
							<p class="card-text"><b class="font-weight-bold">Start Time: </b>{{ start_time }}</p>
						</div>
						<div class="col-md m-3 p-3">
							<p class="card-text"><b class="font-weight-bold">End Date: </b>{{ end_date }}</p>
							<p class="card-text"><b class="font-weight-bold">End Time: </b>{{ end_time }}</p>
						</div>
					</div>
				</div>
				<form method="POST" action="{% url 'loadshifts' %}">
					{% csrf_token %}
					<div class="card-body text-center">
						{% if adjust_opts %}
							<h5 class="card-title">Load Shifts</h5>
							{% for lec, adjs in adjust_opts.items %}
								<div class="card mt-3">
									<div class="card-header font-weight-bold">
										{{ lec.lname.sname }}
									</div>
									<!-- <h6 class="card-title mt-2">{{ lec.lname.sname }}</h6> -->
								<input type="hidden" name="leave_id" value="{{ leave_id }}">
								<input type="hidden" name="lecture_id" value="{{ lec.id }}">
								<!-- <select class="btn btn-dark dropdown-toggle" id="teachers_option" name="faculty_id"> -->
									{% for faculty in adjs %}
										<!-- <option value="{{ faculty.id }}">{{ faculty.username }}</option> -->
									<div class="form-check m-2">
										<input class="form-check-input" type="checkbox" name="{{ lec.id }}" value="{{ faculty.id }}">
										<label class="form-check-label" for="{{ faculty.id }}">{{ faculty.username }}</label>
									</div>
									{% endfor %}
									</div>
								<!-- </select> -->
							{% endfor %}
						{% endif %}
					</div>
					<div class="card-footer text-center">
						<button type="submit" class="btn btn-info" id="option_submit">Apply</button>
					</div>
				</form>
			</div>
		</div>

	{% endif %}
{% endblock %}