{% extends '../base.html' %}
{% load static %}
{% load faculty_filters %}

{% block nav-content %}
<li class="nav-item" role="presentation">
	<a class="nav-link pr-3" href="{% url 'od' %}" style="color: white;">OD</a>
</li>
{% endblock %}

{% block content %}
<main class="mx-auto">
	<input id="page_loaded" value="od" style="display: none;">
	
	<div class="row m-3">

		<div class="col-sm-12 col-md-12">
				{% if od %}
				<div class="d-flex justify-content-center mb-3">
					<div class="card border shadow text-center">
						<div class="card-header text-dark">
							OD Details
						</div>
						<div class="card-body">
							<p class="h5">{{ od.od_title }}</p>
							<p class="h5"><small>{{ od.od_type }}</small></p>
							<p class="h5">{{ od.od_details }}</p>					
							<div class="row text-center m-2">
								<div class="col-sm-6">
									<p class="h6"><b>Supporting Organisation: </b>{{ od.supporting_organisation }}</p>
								</div>
								<div class="col-sm-6">
									<p class="h6"><b>Last Date: </b>{{ od.last_date|date }}</p>
								</div>
							</div>
							<div class="row text-center m-2">
								<div class="col-sm-6">
									<p class="h6"><b>From: </b>{{ od.from_date|date }}</p>
								</div>
								<div class="col-sm-6">
									<p class="h6"><b>To: </b>{{ od.to_date|date }}</p>
								</div>
							</div>
									<p class="h6"><b>Fees: </b>{{ od.fees }}</p>
									<p class="h6"><b>Scope: </b>{{ od.scope }}</p>
						</div>
						{% if od.correspondence %}
						<div class="card-footer h6">
							<b>OD File: </b>
							<a href="{{ od.correspondence.url }}" target="__blank">
								{% with od.correspondence.name|split:"/" as fname %}
									{{ fname|last }}</br>
								{% endwith %}
							</a>
						</div>
						{% endif %}
					<form method="POST" action="{% url 'submit_od_loadshift' %}">
							{% csrf_token %}
								<input type="hidden" name="od_id" value="{{ od.id }}">
						{% if adjust_opts %}
					<div class="card-body text-center">
							<h5 class="card-title">Load Shifts</h5>
							{% for lec, adjs in adjust_opts.items %}
								<div class="card border mt-3">
									<div class="card-header font-weight-bold">
										{{ lec.0.lname.sname }}  on {{ lec.1|date }} at {{ lec.0.lec_time }}
									</div>
									<!-- <h6 class="card-title mt-2">{{ lec.lname.sname }}</h6> -->
								<input type="hidden" name="lecture_id" value="{{ lec.0.id }}">
								<!-- <select class="btn btn-dark dropdown-toggle" id="teachers_option" name="faculty_id"> -->
									{% if adjs %}
									{% for faculty in adjs %}
										<!-- <option value="{{ faculty.id }}">{{ faculty.username }}</option> -->
										<div class="row m-0 mt-0 mb-0 px-auto">
											<input class="checkbox-btn" name="{{ lec.id }}" type="checkbox" value="{{ faculty.id }}">
											<label class="checkbox-label" for="{{ faculty.id }}">
												<span>
													{{ faculty.username }}
												</span>
											</label>
										</div>
									{% endfor %}
									{% else %}
									<p class="text-danger h6 font-weight-bold m-1">Unavailable, will be compensated later.</p>
									{% endif %}
									</div>
								<!-- </select> -->
							{% endfor %}
						{% endif %}
					</div>
							<div class="card-footer text-center">
						<button type="submit" name="_cancel" class="btn btn-danger" id="option_submit">Cancel</button>
						<button type="submit" name="_apply" class="btn btn-info" id="option_submit">Apply</button>
					</div>
						</form>
								</div>	
				{% elif errors %}
				<h4>{{ errors }}</h4>
				{% elif success %}
				<div class="d-flex justify-content-center">
						<div class="badge badge-success badge-lg col-md-6" style="font-size: 1.5rem;">Your OD has been submitted.</div>
				</div>
				{% else %}
				<div class="container border">
				<form action="{% url 'submit_od' %}" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<p class="d-block font-weight-bold mb-3 mt-4 ml-2">OD details</p>
					<div class="row">
						<div class="col-md-6">
							<small class="d-block font-weight-bold mb-1 ml-2">Attending</small>
							<div class="form-group">
								<select class="form-control form-control-alternative" name="od-type" required>
									<option value="-1" disabled selected>Select Attending</option>
									<option value="STTP">STTP</option>
									<option value="Symposium">Symposium</option>
									<option value="Workshop">Workshop</option>
									<option value="Conference">Conference</option>
									<option value="Seminar">Seminar</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<small class="d-block font-weight-bold mb-1 ml-2">Title</small>
							<div class="form-group">
								<input class="form-control form-control-alternative" placeholder="Title" type="text" name="title" required>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<small class="d-block font-weight-bold mb-1 ml-2">Name & Address</small>
							<div class="form-group">
								<textarea class="form-control form-control-alternative" rows="3" name="og-details" placeholder="Enter name and Address of the ogranisation"></textarea>
							</div>
						</div>
						<div class="col-md-6">
							<small class="d-block font-weight-bold mb-1 ml-2">Supporting Ogranisation</small>
							<div class="form-group">
								<input class="form-control form-control-alternative" placeholder="Supporting Ogranisation" type="text" name="Supporting-og">
							</div>
						</div>
					</div>


					<p class="d-block font-weight-bold mb-3 mt-3 ml-2">Date & Duration</p>
					<div class="row">
						<div class="col-md-6">
							<small class="d-block font-weight-bold mb-1 ml-2">From</small>
							<div class="form-group">
								<div class="input-group input-group-alternative">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
									</div>
									<input type="text" class="form-control datepicker text-dark" data-provide="datepicker"
									data-date-format="mm/dd/yyyy" autocomplete="off" name="from_date" data-date-start-date="0d">
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<small class="d-block font-weight-bold mb-1 ml-2">To</small>
							<div class="form-group">
								<div class="input-group input-group-alternative">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
									</div>
									<input type="text" class="form-control datepicker text-dark" data-provide="datepicker"
									data-date-format="mm/dd/yyyy" autocomplete="off" name="to_date" data-date-start-date="0d">
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<small class="d-block font-weight-bold mb-1 ml-2">Last date of registration</small>
							<div class="form-group">
								<div class="input-group input-group-alternative">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
									</div>
									<input type="text" class="form-control datepicker text-dark" data-provide="datepicker"
									data-date-format="mm/dd/yyyy" autocomplete="off" name="last_date" data-date-start-date="0d">
								</div>
							</div>
						</div>
					</div>

					<p class="d-block font-weight-bold mb-3 mt-3 ml-2">Extra</p>
					<div class="row">
						<div class="col-md-6">
							<small class="d-block font-weight-bold mb-1 ml-2">Registration Fee</small>
							<div class="form-group">
								<input class="form-control form-control-alternative" placeholder="Registration Fee" type="text" name="fees">
							</div>

							<small class="d-block font-weight-bold mb-1 ml-2">Attach email or correspondence</small>
							<div class="form-group">
								<input class="form-control form-control-alternative" type="file" name="correspondence">
							</div>
						</div>
						<div class="col-md-6">
							<small class="d-block font-weight-bold mb-1 ml-2">Purpose/Scope</small>
							<div class="form-group">
								<textarea class="form-control form-control-alternative" rows="6" name="scope"
								placeholder="Purpose or Scope for attending"></textarea>
							</div>
						</div>
					</div>

					<div class="row mb-3">
						<div class="col-md-12 d-flex justify-content-center align-items">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</div>

				</form>
				{% endif %}
			</div>
		</div>

	</div>
</main>
<script>
	$(() => {
			$(".checkbox-label").click((e) => {
				if($(e.currentTarget).siblings('input')[0].checked){
					$(e.currentTarget).siblings('input')[0].checked=  false
				} else  {
					$(e.currentTarget).siblings('input')[0].checked = true
				}
			});
		});
</script>
{% endblock %}
