.sub-btn {
  max-width: 100px !important;
  display: block;
}
.q-box {
  max-width: 800px;
}

.navbar {
  padding: 0.5rem 0.5rem !important;
  height: 64px;
  /*background-color: var(--indigo);*/
}

.navbar-brand {
	color: var(--white);
}

.list-group-item {
  padding: 0.75rem !important;
}

.accepted-square {
  width: 20px;
  height: 20px;
  border: 1px solid #2DCE89;
  border-radius: 2px;
  background-color: #2DCE89;
  display: inline-block;
}

.pending-square {
  width: 20px;
  height: 20px;
  border: 1px solid #FB6340;
  background-color: #FB6340;
  border-radius: 2px;
  display: inline-block;
}

input[type=time]::-webkit-inner-spin-button, 
input[type=time]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}