<!--
    Bootstrap Version: 4
-->
{% load static %}

<script src="{% static 'js/jquery.js' %}"></script>

<script src="{% static 'js/popper.min.js' %}"></script>

<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script src="{% static 'js/jquery-ui.min.js' %}"></script>

<script src="{% static 'js/fontawesome.js' %}"></script>


<script src="{% static 'js/plugins/datepicker.min.js' %}"></script>

<script src="{% static 'js/plugins/datatable/datatables.min.js' %}"></script>

<script src="{% static 'vendor/headroom/headroom.min.js' %}"></script>

<script src="{% static 'js/argon.js' %}"></script>

<script src="{% static 'js/jquery.timepicker.min.js' %}"></script>