{% load static %}

<nav id="sidebar">
    <div class="sidebar-header text-center" style="font-family: 'Work Sans'; font-size: 20px;">
      KJSCE CMS
    </div>
    {% if user.is_authenticated is False %}
    <ul class="list-unstyled components">
        <li id="guest_index">
            <a href="{% url 'guest_index' %}">
                Disclaimer
            </a>
        </li>
        <li id="view_events">
            <a href="{% url 'view_events' %}">
                View Events
            </a>
        </li>
        <li id="guest_reserve">
            <a href="{% url 'reserve' %}">
                Reserve
            </a>
        </li>
        <li>
          <a href="{% url 'logout' %}">
            Logout
          </a>
        </li>
      </ul>

    {% elif user.is_superuser %}
      <ul class="list-unstyled components">
        <li id="approve_leaves">
            <a href="{% url 'leaves' %}">
              <i class="far fa-check-circle mr-2"></i> Approve Leaves
            </a>
        </li>
        <li id="approve_ods">
          <a href="{% url 'approve_ods' %}">
            <i class="far fa-check-circle mr-2"></i> Approve ODs
          </a>
        </li>
        <li id="hod_room_reservations">
          <a href="{% url 'hod_room_reservations' %}">
            <i class="fas fa-door-open mr-2"></i> Room Reservations
          </a>
      </li>
        <li id="leave_history">
          <a href="{% url 'leave_history' %}">
            <i class="fas fa-clipboard-list mr-2"></i> Leave History
          </a>
      </li>
        <li>
          <a href="{% url 'logout' %}">
            <i class="fas fa-sign-out-alt mr-2"></i> Logout
          </a>
        </li>
      </ul>
    {% else %}
      <ul class="list-unstyled components">
        <li id="faculty_home">
          <a href="{% url 'faculty_index' %}">
            <i class="fas fa-home mr-2"></i> Home
          </a>
        </li>
        <li id="request_leave">
          <a href="{% url 'request_leave' %}">
            <i class="far fa-edit mr-2"></i> Request Leave
          </a>
        </li>
        <li id="view_leaves">
          <a href="{% url 'view_leaves' %}">
            <i class="far fa-sticky-note mr-2"></i> View Leaves
          </a>
        </li>
        <li id="loadshifts">
          <a href="{% url 'loadshifts' %}" >
            <i class="far fa-calendar mr-2"></i> Load Shifts
          </a>
        </li>
        <li id="ia">
          <a href="{% url 'IA' %}" >
            <i class="fas fa-user-edit mr-2"></i> IA
          </a>
        </li>
        <li id="makeup">
          <a href="{% url 'makeup' %}" >
            <i class="fas fa-chalkboard-teacher mr-2"></i> Makeup Lecture
          </a>
        </li>
        <li id="guestlecture">
          <a href="{% url 'guestlecture' %}" >
            <i class="fas fa-user-graduate mr-2"></i>  Expert Lecture
          </a>
        </li>
        <li  id="od">
          <a href="{% url 'od' %}">
            <i class="fas fa-trophy mr-2"></i> OD
          </a>
        </li>
        <li>
          <a href="{% url 'logout' %}">
            <i class="fas fa-sign-out-alt mr-2"></i> Logout
          </a>
        </li>
      </ul>

    {% endif %}
</nav>

<script>
  $(() => {

    $("a").addClass("mr-1 rounded").css('font-family', 'Work Sans');

    let page_loaded = $("#page_loaded").val();
    $("#" + page_loaded).addClass("active shadow");
  });
</script>
