{% load static %}

<nav id="sidebar">
    <div class="sidebar-header">
     MENU
    </div>
    {% if user.is_authenticated is False %}
    <ul class="list-unstyled components">
        <li id="guest_index">
            <a href="{% url 'guest_index' %}">
                Disclaimer
            </a>
        </li>
        <li id="guest_index">
            <a href="{% url 'guest_index' %}">
                Reserve
            </a>
        </li>
      </ul>

    {% elif user.is_superuser %}
      <ul class="list-unstyled components">
        <li id="approve_leaves">
            <a href="{% url 'leaves' %}">
                Approve Leaves
            </a>
        </li>
        <li id="leave_history">
            <a href="{% url 'leave_history' %}">
                Leave History
            </a>
        </li>
        <li id="approve_ods">
          <a href="{% url 'approve_ods' %}">
              Approve ODs
          </a>
        </li>
      </ul>
    {% else %}
      <ul class="list-unstyled components">
        <li id="faculty_home">
          <a href="{% url 'faculty_index' %}">
              Home
          </a>
        </li>
        <li id="request_leave">
          <a href="{% url 'request_leave' %}">
              Request Leave
          </a>
        </li>
        <li id="view_leaves">
          <a href="{% url 'view_leaves' %}">
              View Leaves
          </a>
        </li>
        <li id="loadshifts">
          <a href="{% url 'loadshifts' %}" >
              Load Shifts
          </a>
        </li>
        <li id="ia">
          <a href="{% url 'IA' %}" >
              IA
          </a>
        </li>
        <li id="makeup">
          <a href="{% url 'makeup' %}" >
            Makeup Lecture
          </a>
        </li>
        <li id="guestlecture">
          <a href="{% url 'guestlecture' %}" >
            Guest Lecture
          </a>
        </li>
        <li  id="od">
          <a href="{% url 'od' %}">
            OD
          </a>
        </li>
      </ul>

    {% endif %}
</nav>

<script>
  $(() => {
    let page_loaded = $("#page_loaded").val();
    $("#" + page_loaded).addClass("active").css(
        "background-color", "#e6e6e6 !important"
      );
  });
</script>
