<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta charset="UTF-8" />
  <title>KJSCE - CMS | Content Management System</title><!-- Fonts -->
  <!-- Required meta tags -->
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include 'includes/stylesheets.html' %}
    {% include 'includes/scripts.html' %}
</head>
<body>
	<div class="wrapper">
		{% if user.is_authenticated %}
			{% include './includes/sidebar.html' %}
		{% endif %}
		<!-- Page Content  -->
		<div id="content">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				{% if user.is_authenticated %}
				<button type="button" id="sidebarCollapse" class="btn btn-dark">
					<i class="fas fa-bars"></i>
					<span></span>
				</button>
				{% endif %}

				<span class="navbar-brand pl-5" style="font-size: 20px;">
					{% if user.is_authenticated %}
						Hello, {{ user.username }}
					{% else %}
						KJSCE - CMS
					{% endif %}
				</span>


				<div class="navbar-collapse collapse" id="navbar-default">
					<div class="navbar-collapse-header">
						<div class="row">
							<div class="col-6 collapse-brand">
								<a href="./index.html">
								KJSCE - CMS
								</a>
							</div>
							<div class="col-6 collapse-close">
								<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
								<span></span>
								<span></span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</nav>
			{% block logincontent %}
			{% endblock %}

			{% if user.is_authenticated %}
				{% block content %}
				{% endblock %}
			{% endif %}
		</div>
	</div>

	<script type="text/javascript">
        $(document).ready(function () {

			// $('#sidebar').addClass('active');

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>

</body>
</html>
