* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}

.limiter {
	width: 100%;
	margin: 0 auto;
  }
  
  .container-login100 {
	width: 100%;  
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
  background: #c94b4b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }
  
  .wrap-login100 {
	width: 546px;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	justify-content: space-between;
	padding: 220px 130px 15px 95px;
  }

  .container-login100-form-btn {
    width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 133px;
  }
  
  .login100-form-btn {
	font-family: Montserrat-Bold;
	font-size: 15px;
	line-height: 1.5;
	color: #fff;
	text-transform: uppercase;

	width: 50%;
	height: 50px;
	border-radius: 10px;
	background: #57b846;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 40px;
    margin-left: 25px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
  }
  
  .login100-form-btn:hover {
    background: #333333;
    cursor: pointer;
  }

  h3 {
      position: absolute;
      top: 32%;
        left: 41%;
      font-size: 28px;
      justify-content: center;
  }

  p {
    position: absolute;
    top: 50%;
    left: 41%;
    font-size: 22px;
  }

  .input {
    font-family: FontAwesome, 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.45rem;
    display: block;
    padding: 1.3rem 1.1rem;
    margin-bottom: 10px;
    width: 96%;
    height: 30px;
    border: 0.2rem solid #fafafa;
    box-shadow: none;
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: all 0.33333s ease-in-out;
    -moz-transition: all 0.33333s ease-in-out;
    -o-transition: all 0.33333s ease-in-out;
    transition: all 0.33333s ease-in-out;
    /* Submit Button */
  }