{% extends '../base.html' %} 
{% block content %}
{% load faculty_filters %}

<main>
	<input id="page_loaded" value="approve_ods" style="display: none;">

    <div class="row ml-2">
        <div class="col-sm-12 col-md-12">
            <div class="d-flex justify-content-center pt-5 align-items-center align-self-center">
                <div class="row col-md-12 justify-content-start">
                    <div class="row col-md-12 justify-content-center"></div>
                    {% for od,loads in od_loads_pairs %}
                        <div class="card mr-2 mb-2 shadow" style="width: 18rem;" id="{{ od.id }}" onclick="displayModal(this.id);">
                            <div class="card-body text-center">
                              <h5 class="card-title">{{ od.od_type }} - {{ od.od_title }}</h5>
                              <h6 class="card-subtitle mb-2 text-muted">{{ od.taken_by }}</h6>  
                            </div>
                            {% if od.approved_status %}
                                <div class="badge badge-success badge-lg" style="font-size : 90%;">Approved</div>
                              {% elif od.approved_status is False %}
                                    <div class="badge badge-danger badge-lg" style="font-size : 90%;">Rejected</div>
                              {% else %}
                                <div class="badge badge-info badge-lg" style="font-size : 90%;">Pending</div>
                            {% endif %}
                        </div>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="modal{{ od.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 700px !important;">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">OD Details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" action="{% url 'approve_ods' %}">
                                            {% csrf_token %}
                                    <input type="hidden" name="od_id" value="{{ od.id }}">
                                        <div class="card-header bg-white">
                                            <p class="h5 text-center">{{ od.od_title }}</p>
                                            <p class="h5 text-center"><small>{{ od.od_type }}</small></p>
                                            <p class="h5 text-center">{{ od.od_details }}</p>
                                            <div class="row text-center">
                                                {% if od.supporting_organisation %}
                                                <div class="col-sm-6">
                                                    <p class="h6"><b>Supporting Organisation: </b><span class="text-uppercase">{{ od.supporting_organisation }}</span></p>
                                                </div>
                                                {% endif %}
                                                {% if od.last_date %}
                                                <div class="col-sm-6">
                                                    <p class="h6"><b>Last Date: </b>{{ od.last_date|date }}</p>
                                                </div>
                                                {% endif %}
                                            </div>
                                            <div class="row text-center">
                                                <div class="col-sm-6">
                                                    <p class="h6"><b>From: </b>{{ od.from_date|date }}</p>
                                                </div>
                                                <div class="col-sm-6">
                                                    <p class="h6"><b>To: </b>{{ od.to_date|date }}</p>
                                                </div>
                                            </div>
                                            {% if od.fees %}
                                                <p class="h6 text-center"><b>Fees: </b>{{ od.fees }}</p>
                                            {% endif %}
                                            {% if od.scope %}
                                                <p class="h6 text-center"><b>Scope: </b>{{ od.scope }}</p>
                                            {% endif %} 
                                            {% if od.correspondence %}
                                            <div class="text-center">
                                                <a href="{{ od.correspondence.url }}" class="btn btn-lg btn-secondary text-dark" target="__blank">
                                                    <span class="input-group-addon"><i class="fa fa-file fa-fw"></i></span>
                                                    {% with od.correspondence.name|split:"/" as fname %}
                                                        {{ fname|last }}
                                                    {% endwith %}
                                                </a>
                                            </div>
                                            {% endif %}
                                        
                                        </div>
                                        {% if loads %}
                                        <div class="card-body bg-white">
                                            <h4 class="card-title text-center">Load Shifts</h4>
                                            {% for load in loads %}
                                                <div class="list-group-item rounded" style="margin-bottom: 5px; border-width:3px !important; padding-top: 0px !important;">
                                                    <div class="row">
                                                        {% if load.approved_status %}
                                                            <div class="badge badge-success badge-lg badge-block" style="width: 100% !important;">Approved</div>
                                                        {% else %}
                                                            <div class="badge badge-warning badge-lg badge-block" style="width: 100% !important;">Pending</div>
                                                        {% endif %}
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md m-2 p-3 text-center">
                                                            <p class="card-text font-weight-normal h6"><b>Lecture : </b>{{ load.for_lecture }}</p>
                                                            <p class="card-text font-weight-normal h6"><b>Faculty : </b>{{ load.to_faculty }}</p>
                                                        </div>
                                                        <div class="col-md m-2 p-3 text-center">
                                                            <p class="card-text font-weight-normal h6"><b>Day : </b>{{ load.for_lecture.lec_day }}</p>
                                                            <p class="card-text font-weight-normal h6"><b>Time : </b>{{ load.for_lecture.lec_time }}</p>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                        <div class="card-footer text-center bg-white">
                                            <button class="btn btn-danger" type="submit" onclick="dismissModal(this.id);" name="_reject">Reject</button>
                                            <button class="btn btn-success" type="submit" name="_approve">Approve</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            </div>
                        </div>
                        
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    
</main>
<script>

    function displayModal(id) {
        $("#modal" + id).modal('show');
    }

    function dismissModal(id) {
        $("#modal" + id).modal('hide');
    }

    </script>
{% endblock  %} 

