{% extends '../base.html' %}

            {% block nav-content %}<li><a href="{% url 'loadshifts' %}">Load Shifts</a></li>{% endblock %}

{% block content %}

<div class="fixed-action-btn">
  <a class="btn-floating btn-large black modal-trigger" href="#leave-modal">
    <i class="large material-icons">add</i>   
  </a>
</div>

 <div id="leave-modal" class="modal" style="width: 75% !important;height: 60% !important;">
 	<form method="POST" action="{% url 'submit_leave' %}">
		{% csrf_token %}
    	<div class="modal-content">
			<div class="row center">
				<div class="input-field col s6">
					<i class="far fa-calendar-alt fa-1x prefix"></i>
					<input type="text" class="datepicker" name="leave_start_date">
					<label for="leave_start_date">Start Date</label>
				</div>
				<div class="input-field col s6">
					<i class="far fa-clock fa-1x prefix"></i>
					<input type="text" class="timepicker" name="leave_start_time">
					<label for="leave_start_time">Start Time</label>
				</div>
			</div>
			<div class="row center">
				<div class="input-field col s6">
					<i class="far fa-calendar-alt fa-1x prefix"></i>
					<input type="text" class="datepicker" name="leave_end_date">
					<label for="leave_start_date">End Date</label>
				</div>
				<div class="input-field col s6">
					<i class="far fa-clock fa-1x prefix"></i>
					<input type="text" class="timepicker" name="leave_end_time">
					<label for="leave_end_time">End Time</label>
				</div>
			</div>
    	</div>
		<div class="modal-footer">
			<div class="row center">
				<button type="submit" class="modal-close waves-effect waves-pink btn btn-large black center-align">Submit</button>
			</div>
		</div>
	</form>
  </div>

{% if lecs %}
		<form action="{% url 'loadshifts' %}" method="POST">
			{% csrf_token %}
			<div class="row">
				<div class="card col s6 offset-s3">
					<div class="row">
						<p class="card-title text-darken-4 center-align">Start Date : {{ start_date }}</p>
						<p class="card-title text-darken-4 center-align">End Date : {{ end_date }}</p>
						<p class="card-title text-darken-4 center-align">Start Time : {{ start_time }}</p>
						<p class="card-title text-darken-4 center-align">End Date : {{ end_time }}</p>
			{% for lec, adjs in adjust_opts.items %}
						<div class="col s8 offset-s2"><span class="card-title text-darken-4">{{ lec.lname.sname }}</span>
							<div class="input-field s12">
								<input type="hidden" name="leave_id" value="{{ leave_id }}"></ins>
								<input type="hidden" name="lecture_id" value="{{ lec.id }}">
								<select id="teachers_option" name="faculty_id">
								{% for faculty in adjs %}
									<option value="{{ faculty.id }}">{{ faculty.username }}</option>
								{% endfor %}
							</select>
							</div>
						</div>

				
			{% endfor %}
					</div>
			<div class="row center">
					<button type="submit" class="waves-effect waves-pink btn-flat center-align" id="option_submit">OK</button>
			</div>
				</div>				
		</div>
		</form>
{% endif %}

<script>
	<!-- Material Components -->
	$(function () {
		$('.fixed-action-btn').floatingActionButton();
		$('.modal').modal();
		$('.datepicker').datepicker();
		$('.timepicker').timepicker();
		$('select').formSelect();
	});

	// <!-- Custom Utils -->
	// $(() => {
	// 	$("#option_submit").on('click', (e) => {
	// 		e.preventDefault();

	// 		const facultyId = $("#teachers_option").val();

	// 		console.log(facultyId);
	// 	});
	// });
</script>


{% endblock %}