{% extends '../base.html' %}

{% block content %}

<div class="fixed-action-btn">
  <a class="btn-floating btn-large red modal-trigger" href="#leave-modal">
    <i class="large material-icons">add</i>   
  </a>
</div>

 <div id="leave-modal" class="modal" style="width: 75% !important; height: 75% !important;">
 	<form method="POST" action="{% url 'request_leave' %}">
		{% csrf_token %}
    	<div class="modal-content">
			<div class="row">
				<div class="input-field col s12">
					<input type="text" class="datepicker" name="leave_date">
					<label for="leave_date">Select Date</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input type="text" class="timepicker" name="leave_start_time">
					<label for="leave_start_time">Select Start Time</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input type="text" class="timepicker" name="leave_end_time">
					<label for="leave_end_time">Select End Time</label>
				</div>
			</div>
    	</div>
		<div class="modal-footer">
			<div class="row center">
				<button type="submit" class="modal-close waves-effect waves-pink btn-flat center-align">Submit</button>
			</div>
		</div>
	</form>
  </div>

{% if lecs %}
	<ul>
		<form action="{% url '' %}" method="POST">
			{% csrf_token %}
		
			{% for lec_name, adjs in adjust_opts.items %}
				<li>{{ lec_name }} <br>
				<div class="input-field col s12">
					<select id="teachers_option">
					{% for faculty in adjs %}
						<option value="{{ faculty.id }}">{{ faculty.username }}</option>
					{% endfor %}
				</select>
				</div>
				</li>
				<div class="row center">
					<button type="submit" class="waves-effect waves-pink btn-flat center-align" id="option_submit">OK</button>
				</div>
			{% endfor %}
		</form>
	</ul>
{% endif %}

<script>
	<!-- Material Components -->
	$(function () {
		$('.fixed-action-btn').floatingActionButton();
		$('.modal').modal();
		$('.datepicker').datepicker();
		$('.timepicker').timepicker();
		$('select').formSelect();
	});

	<!-- Custom Utils -->
	$(() => {
		$("#option_submit").on('click', (e) => {
			e.preventDefault();

			const facultyId = $("#teachers_option").val();

			console.log(facultyId);
		});
	});
</script>


{% endblock %}