{% extends '../base.html' %}

            {% block nav-content %}<li><a href="{% url 'request_leave' %}">Leave</a></li>{% endblock %}

{% block content %}

{% if load_shifts %}
	<div class="row">
		<div class="container">
			<table class="highlight centered reponsive-table">
			<thead>
			<tr>
				<th>From</th>
				<th>For</th>
			</tr>
			</thead>

			<tbody>
				{% for load_shift in load_shifts %}
					<td>{{ load_shift.leave.leave_taken_by.username }}</td>
					<td>{{ load_shift.for_lecture.lname.sname }}</td>
				{% endfor %}
			</tbody>
		</table>
		</div>
	</div>
{% endif %}

{% endblock %}